// Type
$font-size-xs   : 11px;
$font-size-sm   : 12px;
$font-size-md   : 14px;
$font-size-lg   : 16px;
$font-size-xl   : 18px;
$font-size-xxl  : 22px;
$font-size-xxxl : 30px;

$font-weight-xs : 100;
$font-weight-sm : 300;
$font-weight-md : 400;
$font-weight-lg : 500;
$font-weight-xl : 700;

// Responsive sizes
$small-desktop              : 1024px;
$smaller-desktop            : 992px;
$tablet                     : 769px;
$big-mobile                 : 767px;
$big-mobile-horizontal      : 680px;
$small-mobile               : 375px;
$small-mobile-horizontal    : 480px;
