//* Refer http://flatuicolors.com

//* Please note that slight changes has been done to original 
//* flatuicolors color palette to match Phoenix Theme.

// -------------------------

$black 			: #333333;

// White shade
$white 			: #FFFFFF;
$clouds			: #ecf0f1;
$silver			: #bdc3c7;
$concrete		: #95a5a6;
$asbestos		: #7f8c8d;

// Blue shade
$primary-blue 	: #0078FF;
$info-blue 		: #0069E0;
$beliz-hole		: #3392FF;

// Sea green shade
$turquoise		: #1abc9c;
$green-sea		: #16a085;

// Green shade
$green 			: #06ba30;
$emerald		: #2ecc71;
$nephritis		: #27ae60;

// Purple shade
$amethyst		: #9b59b6; //* Light purple
$wisteria		: #8e44ad; //* Purple

// Darker blue shade
$wet-asphalt	: #34495e;
$midnight-blue	: #2c3e50;

// Yellow shade
$yellow			: #FFFF03;
$sun-flower		: #f1c40f;
$orange			: #f39c12;
$carrot			: #e67e22;
$pumpkin		: #d35400;

// Red shade
$red			: #f4516c;
$pomegranate	: #c0392b;