///*=============================
//=            Fonts            =
//=============================*/

// List of google fonts names - http://static.scripting.com/google/webFontNames.txt

$fontawesome : 'FontAwesome', sans-serif;
$mdi: "Material Design Icons";
$roboto : 'Roboto', sans-serif;

///*=====  End of Fonts  ======*/
